<style>
    #message-content {
      width: 80%;
      border: 1px solid #c4c4c4;
      background: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Arial, Helvetica, sans-serif;
      max-width: 600px;
      font-size: 18px;
      /* line-height: 21px; */
      padding: 25px;
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
    }
    .button {
      width: 280px;
      height: 50px;
      padding: 8px 0;
      color: #fff;
      background-color: #2a8eeb;
      font-size: 22px;
      font-weight: 500;
      border: none;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: background 0.3s;

    }
    .button:hover {
      background-color: #1c70be;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
    a:checked {
      color: #fff;
    }

    footer {
      display: flex;
      justify-content: flex-end;
    }
  </style>
  <div id="message-content">
    <p>Olá, <strong>{{name}}</strong></p>
    <p>Foi solicitado uma troca de senha para este email no sistema.</p>
    <p>Caso tenha sido voce, clique no link abaixo para alterar sua senha:</p>
    <div class="buttonContainer">
      <button type="button" class="button">
        <a href="{{link}}">Resetar minha senha</a>
      </button>
    </div>
    <br/>
    <p>Caso nao tenha sido voce, ignore este email!</p>
    <br />
    <footer>
      <strong><u>Atenciosamente, Equipe Adoraveis</u></strong>
    </footer >
  </div>